@import 'variable.scss';

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("/../assets/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}