body {
  height: 100vh; }

button::-moz-focus-inner {
  border: 0; }

.container__row {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.container__column {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btn {
  position: relative;
  width: 10rem;
  height: 4rem;
  margin: 1rem;
  background: none;
  border-style: solid;
  font-weight: 700;
  overflow: hidden;
  -webkit-transition: color .5s;
  transition: color .5s; }
  .btn.btn--black {
    border-color: black;
    color: black; }
  .btn.btn--blue {
    border-color: #0575E6;
    color: #0575E6; }
  .btn.btn__first::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    border-color: black;
    z-index: -1;
    -webkit-transition-property: width, left;
    transition-property: width, left;
    -webkit-transition-duration: .5s, .5s;
            transition-duration: .5s, .5s; }
  .btn.btn__first--black::before {
    background: black;
    border-color: black; }
  .btn.btn__first--blue::before {
    background: #0575E6;
    border-color: #0575E6; }
  .btn.btn__first:hover {
    color: white; }
  .btn.btn__first:hover::before {
    width: 100%;
    left: 0%; }
  .btn.btn__second::before {
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    -webkit-transition-property: height, top;
    transition-property: height, top;
    -webkit-transition-duration: .5s, .5s;
            transition-duration: .5s, .5s; }
  .btn.btn__second--black::before {
    background: black;
    border-color: black; }
  .btn.btn__second--blue::before {
    background: #0575E6;
    border-color: #0575E6; }
  .btn.btn__second:hover {
    color: white; }
  .btn.btn__second:hover::before {
    height: 100%;
    top: 0; }
  .btn.btn__third::before {
    content: "";
    background: black;
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-color: black;
    z-index: -1;
    -webkit-transition-property: width, height;
    transition-property: width, height;
    -webkit-transition-duration: .5s, .5s;
            transition-duration: .5s, .5s; }
  .btn.btn__third--black::before {
    background: black;
    border-color: black; }
  .btn.btn__third--blue::before {
    background: #0575E6;
    border-color: #0575E6; }
  .btn.btn__third:hover {
    color: white; }
  .btn.btn__third:hover::before {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=styles.css.map */
